@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Automatic Train Timetable Generator</h1>
    <p1>Developed in Partial Fulfilment of the Requirements for the Degree of Master of Software Development</p1>
</div>

    <div class="container2">
    <img src="images/train.jpeg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
