@page
@{
    ViewData["Title"] = "Generate Timetable";
}

<form method="post">
    Trains:
    <input type="text" value="" />
    <input type="submit" value="add" />
    Time:
    <input type="text" value="" />
    <input type="submit" value="add" />
</form>

<form method="post">
    Stations:
    <input type="text" value="" />
    <input type="submit" value="add" />
</form>

<table class="table">
    <tr>
        <th>Description</th>
        <th>Train Code</th>
        <th>Depature</th>
        <th>Arrival</th>
        <th>Depature</th>
        <th>Arrival</th>
    </tr>
    <tr>
        <th>1st trip</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>2nd trip</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>3rd trip</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>4th trip</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</table>